:root {
    --ted-red: #e62b1e;
    --pri: #000;
    --sec: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

header {
    position: fixed;
    top: 0px;
    left: 0;
    padding: 10px 100px;
    width: 100%;
    z-index: 999;
    background: var(--pri);
}

header>div.logo {
    color: var(--sec);
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    float: left;
    font-weight: 700;
}

header>div.logo>svg{
    padding-top: 3px;
    width: 300px;
    height: auto;
}

header> div.logo>svg g#varitate{
    fill: var(--sec);
}

header>nav {
    float: right;
}

header>nav>ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

header>nav>ul>li>a {
    height: 50px;
    line-height: 50px;
    margin: 0 10px 0 20px;
    color: var(--sec);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
}

header>nav>ul>li>a:hover {
    color: var(--ted-red);
    transition:         color 0.5s;
}

header>nav>ul>li>a.active {
    padding: 3px;
    border: 2px solid var(--sec);
}

header>div.menu-toggle {
    color: var(--sec);
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

@media (max-width: 991px) {
    header {
        padding: 0 20px;
    }

    header>div.menu-toggle {
        display: block;
    }

    header>nav {
        /* display: none; */
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        color: var(--pri);
        top: 50px;
        right: -100%;
        transition: 0.5s;
    }

    header>nav.active {
        right: 0;
    }

    header>nav>ul {
        display: block;
        text-align: center;
    }

    header>nav>ul>li>a{
        line-height: calc(100vh / 6.5);
    }

    header>nav>ul>li {
        background: var(--pri);
        /* border-top: 1px solid #fff; */
    }

    header>nav>ul>li>a{
        color: var(--sec) !important;
    }

    header>nav>ul>li>a.active {
        border: 2px solid var(--sec);
    }

    header>nav>ul>li:last-child {
        background: var(--ted-red);
        line-height: 19vh;
    }
}


section.black{
    height: 100vh;
    /* background: #000; */
    background-image: url('https://images.pexels.com/photos/325044/pexels-photo-325044.jpeg');
    background-size: cover;
}

section.white{
    height: 100vh;
    background: #fff;
}