body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

sup {
    font-size: 0.7em;
}

hr {
    width: 80%;
    color: wheat;
}

#intro {
    height: 100vh;
    font-weight: bold;
    background-color: black;
}

#info {
    height: 100vh;
    background-color: black;
}

#stuff {
    height: 100vh;
    background-color: red;
}

#attend {
    height: 100vh;
    background-color: #ff6464;
}

.red {
    color: red
}

.black {
    color: black;
}

.white {
    color: white;
}

.top {
    margin-bottom: 5px;
}

.small-spacing {
    color: white;
    width: 140px;
    letter-spacing: -0.05em;
    position: absolute;
    top: 60%;
    left: 2%;
}

.no-bot-m {
    margin-bottom: 0;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.nav-link {
    color: white;
}

.logo {
    object-fit: contain;
}

.activeeiei {
    border: 2px solid white;
    padding: 2px 4px !important;
    margin-top: 0.3rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

.navbar-toggler {
    color: white;
    background-color: black;
    border: 1px solid white;
}

.navbar-toggler-icon {
    letter-spacing: 6px;
    color: white;
}

.navbar {
    background-color: black !important;
}
.superbold{
    font-weight: 900;
}
.strand{
    padding-left: 3rem;
    letter-spacing: 2rem;
}
.smol-x{
    letter-spacing: -0.07rem;
    margin-top: 0%;
}

a:hover{
    color: gray;
}