:root {
    --ted-red: #e62b1e;
    --pri: #000;
    --sec: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

header{
    background: var(--pri);
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
}

header img{
    height: 0;
    width: auto;
}

header div.logo{
    height: 0;
    width: 0;
}

header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    width: 100vw;
    height: 45px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding:5px 0;
}


header ul li{
    padding-left: 5px;
    border-left: 2px solid var(--ted-red);
}

header ul li:first-child{
    border: none;
}

header ul li a{
    color: var(--sec);
    text-transform: uppercase;
    font-size: 0.6rem;
    font-weight: 700;
}

header ul li a:hover{
    text-decoration: none;
    color: var(--ted-red);
    transition: color 0.6s;
}

.bot-push{
    height: 45px;
}
.top-push{
    height: 0;
}

@media (min-width:1000px){
    header{
        bottom: initial;
        top:0;
        height: auto;
        padding: 0.5% 10%;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: baseline;
    }

    header img{
        width: 300px;
        height: auto;
    }

    header ul{
        width: 40vw;
    }

    header ul li{
        border:none;
    }

    header ul li a{
        font-size: 1rem;
    }

    .bot-push{
        height: 0;
    }

    .top-push{
        height: 70px;
    }
}