html, body {
    background: black;
    /* background: linear-gradient(#200122, #6f0000); */
}


.block-sponser {
    margin-top: 30px;
}

.sponser-year{
    font-size: 30px;
    color: white;
    text-align: center;
    padding-top: 10%;
}

.sponser {
    width: 30%;
    height: 30%;
    padding: 2%;
}

.spacing {
    height: 100px;
}

.secTitle h1 {
    font-size: 60px;
    color: white;
    text-align: center;
}
hr {
    margin: auto;
    padding: 1rem;
}

.separate--line {
    border: 0;
    border-bottom: 1px solid #dd1818;
    width: 0;
    -webkit-animation: separator-len 2s ease-out forwards;
            animation: separator-len 2s ease-out forwards;
}

@-webkit-keyframes separator-len {
    0% {
        width: 0;
    }
    100% {
        width: 20%;
    }
}

@keyframes separator-len {
    0% {
        width: 0;
    }
    100% {
        width: 20%;
    }
}

.sponser-dd {
    width: 100%;
    background-color: black;
}