html, body {
    background: black;
    /* background: linear-gradient(#200122, #6f0000); */
}

/* nav open */


/* nav end */

.row {
    margin-top: 150px;
}

.grid-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.box-flex {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.box {
    margin: 50px;
    height: 600px;
    width: 450px;
    background-color: rgba(160, 160, 160, 0.1);
    border-radius: 20px;
    border: 1px solid rgba(160, 160, 160, 1);
    transition: background-color 0.4s;
    text-align: center;
}

.box:hover {
    background-color: rgba(255, 0, 0, 0.8);
    border: 1px solid rgba(160, 160, 160, 0);
}

/* on box hover */

.box:hover>.handshake {
    margin-top: 10px;
    margin-bottom: 0px;
    width: 256px;
    height: 256px;
}

.box:hover>.raise-hand {
    margin-top: 30px;
    margin-bottom: 50px;
    width: 200px;
    height: 200px;
}

.box:hover>.describe{
    visibility: visible;
    color: white;
}


.box:hover>.describe>.facebook {
    visibility: visible;
    color: white;
}

/* end */


.topic {
    color: rgba(255, 255, 255, 1);
    margin-top: 40px;
}

.handshake {
    margin-top: 60px;
    margin-bottom: 0px;
    width: 330px;
    height: 330px;
    transition: margin-top 1s, width 1s, height 1s;
}

.raise-hand {
    margin-top: 75px;
    margin-bottom: 50px;
    width: 260px;
    height: 260px;
    transition: margin-top 1s, width 1s, height 1s;
}

.describe {
    color: rgba(255, 255, 255, 0);
    visibility: hidden;
    transition: visibility 2s, color 0.5s;
    font-size: 18px;
    margin: 20px;
}

.facebook {
    color: rgba(255, 255, 255, 0);
    visibility: hidden;
    transition: visibility 2s, color 0.5s;
    font-size: 18px;
    font-weight: 900;
    padding-left: 5px;
}

/* for responsive */

@media screen and (max-width: 991px) {
    .grid-container {
        justify-content: flex-start;
    }
    .box-flex {
        flex-wrap: wrap;
    }
    .box {
        height: 210px;
        width: 210px;
        transition: none;
        background-color: rgba(255, 0, 0, 0.8);
        border: 0px 
    }

    .up {
        margin-bottom: 0px;
        margin-top: 30px;
    }
    
    .handshake {
        width: 110px;
        height: 110px;
        margin-top: 10px; 
        transition: none;
    }
    .raise-hand {
        width: 100px;
        height: 100px;
        margin-top: 10px;
        transition: none;
    }
    .describe {
        display: none;
        transition: none;
    }
    .box:hover {
        background-color: rgba(255, 0, 0, 0.8);
    }
    /* on box hover */
    .box:hover>.handshake {
        width: 110px;
        height: 110px;
        margin-top: 10px; 
    }
    .box:hover>.raise-hand {
        width: 100px;
        height: 100px;
        margin-top: 10px; 
        
    }
    .box:hover>.describe {
        display: none;
        color: white;
    }

    .topic {
        font-size: 23px;
        margin: 25px 25px 0px 25px;
    }
}