@import url('https://fonts.googleapis.com/css?family=Kanit&display=swap');

div.Speaker {
  background: #dddddd;
  font-family: "Kanit";
}
div.small-root {
  background: white;
}

.hall {
  width: 90vw;
  margin: 0 5%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  font-family: 'Kanit', sans-serif;
}

.speaker-box {
  width: 400px;
  height: auto;
  background: white;
  margin: 3% 2%;
  text-align: center;
  padding: 0% 0%;
  box-shadow: 6px 4px 19px 0px rgba(0, 0, 0, 0.19);
  border-radius: 15px;
  font-family: 'Kanit', sans-serif;
}


.speaker-portrait {
  width: 400px;
  height: 400px;
  object-fit: cover;
  position: relative;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;
}

.speaker-name{
  padding-top: 6%;
  font-family: 'Kanit', sans-serif;
}


.speaker-type {
  text-transform: capitalize;
  opacity: 0.5;
  font-family: 'Kanit', sans-serif;
}

.speaker-desc{
  padding: 0 7%;
  font-family: 'Kanit', sans-serif;
}

.speaker-box a img {
  width: 20px;
  height: 20px;
}
