html, body{
    background: black;
    /* background: linear-gradient(#200122, #6f0000); */
}

.vdo-border:hover {
    background: linear-gradient(45deg, #500000, #dd1818);
    transform: scale(1.2);
}
.vdo-border {
    transition: transform .2s;
    width: 80%;
    margin: auto;
}

.speakerTopic {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    color: white;
}

.speakerName {
    margin-bottom: 0;
    font-size: 14px;
    font-family: Helvetica, sans-serif;
    color: white;
}
.yt-thumbnail {
    position: relative;
}
.yt-thumbnail img {
    padding-bottom: 1rem;
    max-width: 100%;
    height: auto;
}

.ytbuild{
    padding-right: 0.3rem;
}

.play-btn {
    background: rgb(48, 48, 48);
    border-radius: 50% / 10%;
    color: #FFFFFF;
    font-size: 1rem;
    top: 25%;
    left: 40%;
    height: 3em;
    margin: 20px auto;
    padding: 0;
    position: absolute;
    text-align: center;
    text-indent: 0.1em;
    transition: all 150ms ease-out;
    width: 4em;
    opacity: 0.8;
}
.play-btn:hover {
    background: #e62b1e !important;
    opacity: 1;
}
.play-btn::before { 
    background: inherit;
    border-radius: 5% / 50%;
    bottom: 9%;
    content: "";
    left: -5%;
    position: absolute;
    right: -5%;
    top: 9%;
} 
.play-btn::after {
    border-style: solid;
    border-width: 1em 0 1em 1.732em;
    border-color: transparent transparent transparent rgba(255, 255, 255, 0.75);
    content: ' ';
    font-size: 0.75em;
    height: 0;
    margin: -1em 0 0 -0.75em;
    top: 50%;
    position: absolute;
    width: 0;
}

.spacing {
    height: 100px;
}

.secTitle h1 {
    font-size: 60px;
    color: white;
    text-align: center;
}
hr {
    margin: auto;
    padding: 1rem;
}

.separator {
  /* margin-top: 25px; */
  /* margin-bottom: 80px; */
  border: 0;
}

.separator--line {
  border: 0;
  border-bottom: 1px solid white;
  width: 0;
  -webkit-animation: separator-width 2s ease-out forwards;
          animation: separator-width 2s ease-out forwards;
}

@-webkit-keyframes separator-width {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes separator-width {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}

.yrTitle {
    font-weight: 100;
}

.thisyear {
    color: #e62b1e;
    text-align: center;
}
.thisyear h1 {
    font-size: 45px;
    text-transform: uppercase;
    padding-top: 2rem;
}
.slider-wrapper h4 {
    font-size: 40px;
    margin-right: -5px;;
    text-align: center !important;
    overflow: hidden;
    height: 40px;
    color: #e62b1e;
    margin-bottom: 50px;
}
.slider-wrapper span {
    font-size: 40px;
    text-align: center !important;
    margin-left: 0;
    display: inline-block;
    color: #e62b1e;
    position: relative;
    white-space: nowrap;
    justify-content: center;
}

#year17 span {
    animation: moving 2.5s ease-out forwards;
    animation-delay: 1s;
}
@keyframes moving {
    0%{top: 0px;}
    50%{top: -50px;}
    100%{top: -96px;}
}

#year18 span {
    animation: move 2.5s ease-out forwards;
    animation-delay: 1s;
}
@keyframes move {
    0%{top: 0px;}
    100%{top: -48px;}
}

.slider-wrapper {
    font-size: 35px;
    display: flex;
    position: relative;
    text-align: center;
    white-space: nowrap;
    justify-content: center;
}
/* .slider {
    height: 52px;
    overflow: hidden;
}
.slider div {
    height: 52px;
    padding: 2px;
    margin-bottom: 52px;
} */