<!DOCTYPE html>
<html lang="en">

<head>

    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- custom css -->
    <link rel="stylesheet" href="css/watch.css">
    <% include ../partials/head %>
</head>

<body>
    <!-- navbar -->
    <% include ../partials/nav %>

    <div class="spacing"></div>

    <!-- Page title -->
    <div class="secTitle">
        <h1 style="font-weight: 300;">PAST SPEAKERS</h1>
        <hr class="separator separator--line" />
    </div>

    <!-- year 2018 -->
    <div class="lazy thisyear" id="year18">
        <h1 style="font-weight: 100;">Out of Norm</h1>
        <div class="lazy slider-wrapper">
            <h4>201</h4>
            <h4>
                <span>
                    9 <br />
                    8 <br />
                </span>
            </h4>
        </div>
    </div>

    <section id="yr18">
        <div class="row mx-auto">
            <div class="col-md-6 col-lg-4 mx-auto ytbuild">
                <div class="vdo-border text-center mb-4 p-3">
                    <div class="yt-thumbnail" id="1"></div>
                    <p class="speakerTopic">ความรัก หรือ ความฝัน</p>
                    <p class="speakerName">รัณนภันต์ ยั่งยืนพูนชัย</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mx-auto ytbuild">
                <div class="vdo-border text-center mb-4 p-3">
                    <div class="yt-thumbnail" id="2"></div>
                    <p class="speakerTopic">let me glow</p>
                    <p class="speakerName">ณัฏฐนันท์ สนุ่นรัตน์</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mx-auto ytbuild">
                <div class="vdo-border text-center mb-4 p-3">
                    <div class="yt-thumbnail" id="3"></div>
                    <p class="speakerTopic">Limitless</p>
                    <p class="speakerName">ตรีชฎา เพชรรัตน์</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mx-auto ytbuild">
                <div class="vdo-border text-center mb-4 p-3">
                    <div class="yt-thumbnail" id="4"></div>
                    <p class="speakerTopic">who am I?</p>
                    <p class="speakerName">ณัฐวุฒิ พึงเจริญพงศ์</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mx-auto ytbuild">
                <div class="vdo-border text-center mb-4 p-3">
                    <div class="yt-thumbnail" id="5"></div>
                    <p class="speakerTopic">defeat your limit</p>
                    <p class="speakerName">อริสรา ธนาปกิจ</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mx-auto ytbuild">
                <div class="vdo-border text-center mb-4 p-3">
                    <div class="yt-thumbnail" id="6"></div>
                    <p class="speakerTopic">Head hand heart</p>
                    <p class="speakerName">ปรารี กิตติดำเกิง</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mx-auto ytbuild">
                <div class="vdo-border text-center mb-4 p-3">
                    <div class="yt-thumbnail" id="7"></div>
                    <p class="speakerTopic">drift for alive</p>
                    <p class="speakerName">คริสตี้หลุยส์ นามวงศ์</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mx-auto ytbuild">
                <div class="vdo-border text-center mb-4 p-3">
                    <div class="yt-thumbnail" id="8"></div>
                    <p class="speakerTopic">Can u hear your monster?</p>
                    <p class="speakerName">ชานนท์ ยอดหงษ์</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mx-auto ytbuild">
                <div class="vdo-border text-center mb-4 p-3">
                    <div class="yt-thumbnail" id="9"></div>
                    <p class="speakerTopic">Beyond lie the solutions.</p>
                    <p class="speakerName">จิตร์ทัศน์ ฝักเจริญผล</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mx-auto ytbuild">
                <div class="vdo-border text-center mb-4 p-3">
                    <div class="yt-thumbnail" id="10"></div>
                    <p class="speakerTopic">write your own happy ending</p>
                    <p class="speakerName">ภาณุมาศ ทองธนากุล</p>
                </div>
            </div>
        </div>

        <hr class="separator separator--line" />
    </section>

    <!-- year 201ึ7-->
    <div class="lazy thisyear" id="year17">
        <h1 style="font-weight: 100;">Take a change, Make a chance</h1>
        <div class="lazy slider-wrapper">
            <h4>201</h4>
            <h4>
                <span>
                    9 <br />
                    8 <br />
                    7 <br />
                </span>
            </h4>
        </div>
    </div>

    <section id="yr17">
        <div class="row mx-auto">
            <div class="col-md-6 col-lg-4 mx-auto ytbuild">
                <div class="vdo-border text-center mb-4 p-3">
                    <div class="yt-thumbnail" id="1"></div>
                    <p class="speakerTopic">ฝันเด็กไทย ใครกำหนด</p>
                    <p class="speakerName">อรพิมพ์ เหลืองอ่อน</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mx-auto ytbuild">
                <div class="vdo-border text-center mb-4 p-3">
                    <div class="yt-thumbnail" id="2"></div>
                    <p class="speakerTopic">สมองกลสอนคน</p>
                    <p class="speakerName">ดร.กาญจนพันธุ์ สุขวิชชัย</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mx-auto ytbuild">
                <div class="vdo-border text-center mb-4 p-3">
                    <div class="yt-thumbnail" id="3"></div>
                    <p class="speakerTopic">สื่อการเรียน...เปลี่ยนอนาคต</p>
                    <p class="speakerName">ฐิติวุฒิ นันทิภาคย์หิรัญ</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mx-auto ytbuild">
                <div class="vdo-border text-center mb-4 p-3">
                    <div class="yt-thumbnail" id="4"></div>
                    <p class="speakerTopic">หยุดตีตรา เพื่อเดินต่อ</p>
                    <p class="speakerName">กิตติภณ ดิษฐบรรจง</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mx-auto ytbuild">
                <div class="vdo-border text-center mb-4 p-3">
                    <div class="yt-thumbnail" id="5"></div>
                    <p class="speakerTopic">เริ่มเมื่อยังไม่พร้อม</p>
                    <p class="speakerName">พงศธร ธนบดีภัทร</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mx-auto ytbuild">
                <div class="vdo-border text-center mb-4 p-3">
                    <div class="yt-thumbnail" id="6"></div>
                    <p class="speakerTopic">พลิกชีวิตเกษตรกรไทย ด้วยไฟในใจคุณ</p>
                    <p class="speakerName">พงษ์ลดา พะเนียงเวทย์</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mx-auto ytbuild">
                <div class="vdo-border text-center mb-4 p-3">
                    <div class="yt-thumbnail" id="7"></div>
                    <p class="speakerTopic">เกลียดวันจันทร์?</p>
                    <p class="speakerName">รวิศ หาญอุตสาหะ</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mx-auto ytbuild">
                <div class="vdo-border text-center mb-4 p-3">
                    <div class="yt-thumbnail" id="8"></div>
                    <p class="speakerTopic">ปลูกบ้านจากต้นหญ้า</p>
                    <p class="speakerName">ธนพัฒน์ บุญสนาน</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mx-auto ytbuild">
                <div class="vdo-border text-center mb-4 p-3">
                    <div class="yt-thumbnail" id="9"></div>
                    <p class="speakerTopic">Secrets to discovering your true passion and happiness in life.</p>
                    <p class="speakerName">ดาริน สุทธพงศ์</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mx-auto ytbuild">
                <div class="vdo-border text-center mb-4 p-3">
                    <div class="yt-thumbnail" id="10"></div>
                    <p class="speakerTopic">เปลี่ยนกาย เปลี่ยนเสียง เปลี่ยนใจ เพื่อนิสัยใหม่ที่คุณต้องการ</p>
                    <p class="speakerName">รสสุคนธ์ กองเกตุ</p>
                </div>
            </div>
        </div>
    </section>

    <!-- jquery js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- bootstrap js -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- Lazy load -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@12.0.0/dist/lazyload.min.js"></script> -->
    <!-- watch page js -->
    <script src="js/watch.js"></script>
    <script src="../mekpart/js/nav.js"></script>
</body>

</html>