<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <!-- bootstrap css -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- contact css -->
    <link rel="stylesheet" href="css/contact.css">
</head>

<body>
    <% include ../partials/nav %>
    <!-- your content here  -->
    <!-- About tedxkasetsartU -->
    <div class="spacing"><Br><Br></Br></Br></div>
    <div class="container">
        <h1 class="section__headline">FAQs</h1>
        <h2 class="c-faqs__headline">About the TEDxKasetsartU </h2>
        <ul class="c-faqs">
            <li class="c-faq c-faq--active">
                <span class="c-faq__title">KUY</span>
                <div class="c-faq__answer">KUY</div>
            </li>
            <li class="c-faq">
                <span class="c-faq__title">FUCK</span>
                <div class="c-faq__answer">FUCK</div>
            </li>
            <li class="c-faq">
                <span class="c-faq__title">SHIT</span>
                <div class="c-faq__answer">SHIT</div>
            </li>
        </ul> <!-- /end c-faqs -->
        <!-- about the event -->
        <h2 class="c-faqs__headline">About the Events</h2>
        <ul class="c-faqs">
            <li class="c-faq">
                <span class="c-faq__title">HELLO</span>
                <div class="c-faq__answer">HELLO</div>
            </li>
            <li class="c-faq">
                <span class="c-faq__title">WORLD</span>
                <div class="c-faq__answer">WORLD
                </div>
            </li>
            <li class="c-faq">
                <span class="c-faq__title">HI</span>
                <div class="c-faq__answer">HI</div>
            </li>
            <li class="c-faq">
                <span class="c-faq__title">HO</span>
                <div class="c-faq__answer">HO.</div>
            </li>
            <li class="c-faq c-faq">
                <span class="c-faq__title">NO</span>
                <div class="c-faq__answer">NO</div>
            </li>
        </ul> <!-- /end c-faqs -->
        <!-- Contact Us -->
        <h2 class="c-faqs__headline">Contact Us !</h2>
        <ul class="c-faqs">
            <li class="c-faq">
                <span class="c-faq__title">FACEBOOK</span>
                <div class="c-faq__answer">FACEBOOK

                </div>
            </li>
            <li class="c-faq">
                <span class="c-faq__title">SPONSOR</span>
                <div class="c-faq__answer">SPONSOR</div>
            </li>
        </ul> <!-- /end c-faqs -->

        <% include ../partials/footer %>
        <!-- bootstrap js -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <!-- jquery js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- contact js -->
        <script src="js/contact.js"></script>
</body>

</html>