<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <!-- bootstrap css -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <% include ../partials/nav %>
    <!-- your content here  -->
    <section class="black"></section>
    <section class="white"></section>
    <section class="white"></section>

    <% include ../partials/footer %>
    <!-- bootstrap js -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>