<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="css/participate.css">
</head>
<body>
    <% include ../partials/nav %>
    <!-- your content here  -->
    <div class="grid-container">
        <div class="box-flex">
            <div class="up box">
                <h2 class="topic">BE OUR PARTNER</h2>
                <img src="img/handshake (1).png" alt="" class="handshake">
                <p class="describe container">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod consectetur
                    earum
                    placeat. Sit vero voluptatum possimus qui, hic adipisci sequi aliquid consectetur magni totam
                    blanditiis recusandae, accusamus perferendis porro alias.
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto, quia officia, soluta veniam
                    nobis quidem tenetur recusandae exercitationem esse aliquam repudiandae asperiores iure dolores
                    fugiat incidunt rerum atque totam in.
                </p>
            </div>
            <div class="box">
                <h2 class="topic">BE OUR VOLUNTEER</h2>
                <img src="img/raise-hand.png" alt="" class="raise-hand">
                <p class="describe container">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod consectetur
                    earum
                    placeat. Sit vero voluptatum possimus qui, hic adipisci sequi aliquid consectetur magni totam
                    blanditiis recusandae, accusamus perferendis porro alias.
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo excepturi pariatur, ratione,
                    reiciendis repudiandae ex distinctio saepe voluptas corrupti iure necessitatibus. Repudiandae est ut
                    praesentium, impedit quia minima! Quod, perspiciatis.</p>

            </div>
        </div>
    </div>

    <% include ../partials/footer %>
</body>
</html>