html, body {
    background: black;
    /* background: linear-gradient(#200122, #6f0000); */
}

:root {
    --red-clr: red;
    --blk-clr: black;
    --wht-clr: white;
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

sup {
    font-size: 0.7em;
}

nav .logo {
    color: var(--red-clr);
    font-weight: 900;
}

nav .logo2 {
    color: var(--wht-clr);
    font-weight: 300;
}

.xequal {
    font-size: 12px;
    font-weight: 700;
    color: var(--wht-clr);
    position: absolute;
    margin-top: 20px;
    margin-left: 2px;
    opacity: 1
}

.navbar {
    background-color: var(--blk-clr) !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.nav-link {
    color: var(--wht-clr);
}

nav a:hover {
    color: gray;
}

.active-a {
    border: 2px solid var(--wht-clr);
    padding: 2px 4px !important;
    margin-top: 0.3rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

.navbar-toggler {
    color: var(--wht-clr);
    background-color: var(--blk-clr);
    border: 1px solid var(--wht-clr);
}

.navbar-toggler-icon {
    letter-spacing: 6px;
    color: var(--wht-clr);
}

.fas .fa-bars {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

.row {
    margin-top: 150px;
}


.container{
    display: flex;
    justify-content: center;
}

.box-flex {
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
}

.box {
    margin: 50px;
    height: 600px;
    width: 450px;
    background-color: rgba(160, 160, 160, 0.1);
    border-radius: 20px;
    transition: background-color 0.4s;
    text-align: center;
}

.box:hover{
    background-color: rgba(255, 0, 0 ,0.8);
}

/* on box hover */
.box:hover > .handshake {
    margin-top: 10px;
    margin-bottom: 0px;
    width: 256px;
    height: 256px;
}

.box:hover > .raise-hand {
    margin-top: 30px;
    margin-bottom: 50px;
    width: 180px;
    height: 180px;
}

.box:hover > .describe {
    visibility: visible;
    color: white;
}

/* end */

.topic {
    color: rgba(255, 255, 255, 1);
    margin-top: 40px;

}

.handshake {
    margin-top: 60px;
    margin-bottom: 130px;
    width: 330px;
    height: 330px;
    transition: margin-top 1s,width 1s,height 1s;
}

.raise-hand {
    margin-top: 75px;
    margin-bottom: 180px;
    width: 260px;
    height: 260px;
    transition: margin-top 1s,width 1s,height 1s;
}

.describe {
    color: rgba(255,255,255,0);
    visibility: hidden;
    transition: visibility 2s, color 0.5s;
}







@media screen and (min-width:800px) {}