html, body {
    background: black;
    /* background: linear-gradient(#200122, #6f0000); */
}

/* nav open */


/* nav end */

.row {
    margin-top: 150px;
}

.grid-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.box-flex {
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
}

.box {
    margin: 50px;
    height: 600px;
    width: 450px;
    background-color: rgba(160, 160, 160, 0.1);
    border-radius: 20px;
    transition: background-color 0.4s;
    text-align: center;
}

.box:hover {
    background-color: rgba(255, 0, 0, 0.8);
}

/* on box hover */

.box:hover>.handshake {
    margin-top: 10px;
    margin-bottom: 0px;
    width: 256px;
    height: 256px;
}

.box:hover>.raise-hand {
    margin-top: 30px;
    margin-bottom: 50px;
    width: 180px;
    height: 180px;
}

.box:hover>.describe {
    visibility: visible;
    color: white;
}

/* end */

.topic {
    color: rgba(255, 255, 255, 1);
    margin-top: 40px;
}

.handshake {
    margin-top: 60px;
    margin-bottom: 0px;
    width: 330px;
    height: 330px;
    transition: margin-top 1s, width 1s, height 1s;
}

.raise-hand {
    margin-top: 75px;
    margin-bottom: 50px;
    width: 260px;
    height: 260px;
    transition: margin-top 1s, width 1s, height 1s;
}

.describe {
    color: rgba(255, 255, 255, 0);
    visibility: hidden;
    transition: visibility 2s, color 0.5s;
}

/* for responsive */

@media screen and (max-width: 991px) {
    .grid-container {
        justify-content: flex-start;
    }
    .box-flex {
        flex-wrap: wrap;
    }
    .box {
        height: 450px;
        transition: none;
        background-color: rgba(255, 0, 0, 0.8);
    }

    .up {
        margin-bottom: 0px;
    }
    
    .handshake {
        margin-top: 0px;
        transition: none;
    }
    .raise-hand {
        margin-top: 35px;
        transition: none;
    }
    .describe {
        visibility: hidden;
        transition: none;
    }
    .box:hover {
        background-color: rgba(255, 0, 0, 0.8);
    }
    /* on box hover */
    .box:hover>.handshake {
        width: 330px;
        height: 330px;
    }
    .box:hover>.raise-hand {
        width: 260px;
        height: 260px;
    }
    .box:hover>.describe {
        visibility: hidden;
        color: white;
    }
}